* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header start  */
.top-header {
    background-color: orange;
}

.header-items {
    display: flex;
    width: 98%;
    margin: 0 auto;
    background-color: black;
}

.header-left {
    width: 50%;
    padding-left: 15px;
}

.header-left img {
    margin-top: 8px;
}

.header-right {
    width: 50%;
}

.nav-bar ul {
    display: flex;
    justify-content: right;
    margin: 0 auto;
}

.nav-bar ul li {
    list-style: none;
    padding: 15px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar ul li a:hover {
    color: orange;
    transition: .3s;
}

/* top-header end  */

/* top-banner start  */
.top-bannner {
    background-image: url(../images/banner&logo/bg-banner/10.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.top-banner-items {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 415px;
    position: absolute;
    padding-left: 30%;

}

.half-width img {
    width: 200px;

}

.half-width img:hover {
    box-shadow: 1px 1px 10px rgb(183, 171, 103);
}

/* top-banner end  */

/* mid-banner start  */
.mid-banner {
    background-image: url(../images/banner&logo/right.jpeg);
    background-size: cover;
    height: 70vh;
}

.banner-content {
    width: 30%;
    color: white;
    align-items: center;
    padding-top: 90px;
    margin: 0 660px;
    line-height: 1.5;
}

.banner-content h1 {
    font-size: 27px;
    font-weight: 700;
    color: orange;
}

.banner-content button {
    margin-top: 15px;
    background-color: orange;
    padding: 15px 70px;
    border: none;
    font-weight: 700;
}

.banner-content button:hover {
    background-color: transparent;
    color: white;
    font-weight: 700;
    border: 1px solid orange;
}

/* mid-banner end  */

/* blog are :start  */
.latest-news {
    background-color: rgb(247, 236, 236);
    padding-bottom: 70px;


}

.latest-news h1 {
    padding-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
}

.blog-item {
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 15px;
    padding-top: 15px;
}

.blog-item01 {
    background-color: white;
    width: 50%;
    line-height: 1.2;
    padding-bottom: 20px;
}

.blog-item01 img {
    width: 100%;
}

.blog-item01 h3,
p,
a {
    padding: 10px;

}

.blog-item01 h3:hover {
    border-top: 3px solid orange;
    color: orange;
}

.blog-item01 a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    background-color: orange;
    margin-left: 10px;
}

.blog-item01 a:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

/* news-item-02  */
.blog-item02 {
    background-color: white;
    width: 50%;
    line-height: 1.2;
    padding-bottom: 20px;
}

.blog-item02 img {
    width: 100%;
}

.blog-item02 h3,
p,
a {
    padding: 10px;
}

.blog-item02 h3:hover {
    border-top: 3px solid orange;
    color: orange;
}

.blog-item02 a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    background-color: orange;
    margin-left: 10px;
}

.blog-item02 a:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

.latest-news button {
    background-color: orange;
    border: none;
    font-weight: 700;
    padding: 15px 180px;
    align-items: right;
    margin-left: 30%;
    margin-top: 30px;


}

.latest-news button:hover {
    background-color: black;
    color: white;
}

/* Blog area end  */

/* video area start  */
.video-section {
    padding-bottom: 70px;
}

.video-section h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.video-item {
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    padding-top: 20px;
}

.item01 {
    width: 50%;
}

.video-section button {
    background-color: orange;
    border: none;
    font-weight: 700;
    padding: 15px 180px;
    align-items: right;
    margin-left: 30%;
    margin-top: 30px;
}

.video-section button:hover {
    background-color: black;
    color: white;
}

/* video area end  */

/* footer area start  */
.footer-content {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-content p {
    font-size: 13px;
}

/* footer area end  */