* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header start  */
.top-header {
    background-color: orange;
}

.header-items {
    display: flex;
    width: 98%;
    margin: 0 auto;
    background-color: black;
}

.header-left {
    width: 50%;
    padding-left: 15px;
}

.header-left img {
    margin-top: 8px;
}

.header-right {
    width: 50%;
}

.nav-bar ul {
    display: flex;
    justify-content: right;
    margin: 0 auto;
}

.nav-bar ul li {
    list-style: none;
    padding: 15px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar ul li a:hover {
    color: orange;
    transition: .3s;
}

/* top-header end  */

/* top-banner start  */
.top-bannner {
    background-image: url(../images/banner&logo/bg-banner/10.jpg);
    background-size: cover;
    height: 100vh;
}

.top-banner-items {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 360px;
    position: absolute;
    padding-left: 30%;

}

.half-width img {
    width: 200px;

}

.half-width img:hover {
    box-shadow: 1px 1px 10px rgb(183, 171, 103);
}

/* top-banner end  */